---
layout: default
title: Powerlean
page-title: Powerlean
home-title: 
description: 
---

    <body>
        <div class="all">
            <div class="a">
                <div class="b">
                </div>
                <div class="c">
                    <ul>
                        <li>
                            <a href="#">主页</a>
                        </li>
                        <li>
                            <a href="#">存储</a>
                        </li>
                        <li>
                            <a href="#">链接</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="d"></div>
        {% include boot.html %}
<main>
    {% include title.html %}
    <ul class="post-list">
      {% include posts_paginator.html %}
    </ul>
</main>
{% include pageNav.html %}
{% include footer.html %}
    
</html>
