---
layout: default
title: 版权声明
page-title: Powerlean
home-title: 
description: 
---

{% include header.html %}
{% include boot.html %}
<main>
   <div class="wow fadeIn top" data-wow-duration="3.5s" >
  <span class="wow fadeInUp" data-wow-delay="0.3s">版权声明</span>
  <span class="wow fadeInUp" data-wow-delay="0.4s">Copyright statement</span>
</div>
<br>
  <strong>Powerlean.top（以下简称“本网”）注册于2020年5月9日，本网中的部分内容文字、图片，版权为<a href="https://powerlean.top">Powerlean</a>所有，任何媒体、网站或个人未经本人同意不得在未注明出处的情况下进行转载、转贴或以其他方式复制发布/发表。转载或引用本网版权所有之内容须注明"转自（或引自）Powerlean"字样，并标明本网网址Powerlean.top。不得对本网内容原意进行曲解、修改，同时必须保留本网注明的"稿件来源"。</strong>
</main>
<br>
<br>
<font size="4" color="black">以下是部分本网的原创图案，谨以辨识:</font>

{% include footer.html %}
