<footer id="bottom">
  <br>
  <center><a href="/"><img src="https://www.powerlean.top/images/logo.png" width="150" height="55" align ="center"></a></center>
  <span>{{ site.title }} ©
  {% assign current = "now" | date: "%Y" | plus: 0%}
  {% unless site.footer.since and site.footer.since == current %}
    {{ site.footer.since }}
    -
  {% endunless %}
  {{ current }}
  <br>
  <div>
<!-- begin footer -->
<footer class="footer">
  <div class="container">

    
    <div class="container">
  <div class="subscribe">
    <h3 class="subscribe__title">邮箱订阅</h3>
    <p class="subscribe__subtitle">所有的最新文章将会被推送到订阅者的收件箱中。</p>
    <form class="subscribe-form validate" action="//https://gitee.us17.list-manage.com/subscribe/post?u=d9ddd8a0cbf74cc978f6848d5&id=cb4b18e940"
      method="POST" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
      <div class="subscribe-group">
        <label class="screen-reader-text" for="mce-EMAIL">邮箱地址</label>
        <input class="subscribe__email required email" id="mce-EMAIL" type="text" name="EMAIL"
          placeholder="请输入您的邮箱">
      </div>
      <input class="subscribe__button" id="mc-embedded-subscribe" type="submit" name="subscribe" value="订阅">
    </form>
  </div>
</div>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

            <span id="busuanzi_container_site_pv">

                      <sup style="color:grey">总访问量<span id="busuanzi_value_site_pv"></span>次</sup>

                          </span>

                              <sup><span style="color:grey" class="post-meta-divider">·</span></sup>

                                  <span id="busuanzi_container_site_uv">

                                            <sup style="color:grey">访问人数<span id="busuanzi_value_site_uv" ></span>位</sup>

                                                </span>
    <br>
   
    <!-- Begin Mailchimp Signup Form -->

<!--End mc_embed_signup-->
<br>
  </div>
</footer>
<!--加载动画-->
<script type="text/javascript" src="https://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script><script type="text/javascript" src="https://www.powerlean.top/blob/common.js"></script>
<!--加载动画-->
