<header id="index-header">
  <!--加载动画-->
  <a href="#top" id="toTop"></a><div id="loading"> <ul class="bokeh"> <li></li> <li></li> <li></li> <li></li> </ul></div>
  <!--加载动画-->
  <div class="top-center">
      <div class="logo">
        <a href="/"><img src="/images/powblack.png" width="126" height="45" align ="center">
        </a>
      </div>
      <nav class="top-nav">
          <ul>
              {% for i in site.nav %}
                <li><a href="{{ i[1] }}">{{ i[0] }}</a></li>
              {% endfor %}
            <i class="nav__icon nav__icon-search ion ion-md-search" aria-label="Search Icon"></i>
          </ul>
      </nav>
       {% include search.html %}
      <div id="top-boot">
        <a href="javascript:;" id="boot1" style="display:block;" onclick="document.getElementById('boot-area').style.display='block';document.getElementById('boot1').style.display='none';document.getElementById('boot2').style.display='block';"><img src="/assets/boot.png" alt=""></a>
        <a href="javascript:;" id="boot2" style="display: none;" onclick="document.getElementById('boot-area').style.display='none';document.getElementById('boot1').style.display='block';document.getElementById('boot2').style.display='none';"><img src="/assets/boot.png" alt=""></a>
      </div>
  </div>

</header>
