<footer class="site-footer">
  <span class="site-footer-owner"> ©Powerlean │ 2020年5月20日-现在</span>
  <span class="site-footer-credits">  网页来自 <a href="https://powerlean.top">Powerlean</a></span>
 <div>

    <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>

    <span id="busuanzi_container_site_pv">

        <sup style="color:grey">总访问量<span id="busuanzi_value_site_pv"></span>次</sup>

    </span>

    <sup><span style="color:grey" class="post-meta-divider">·</span></sup>

    <span id="busuanzi_container_site_uv">

        <sup style="color:grey">访问人数<span id="busuanzi_value_site_uv" ></span>位</sup>

    </span>

</div> 
</footer>
