<!-- 首页及其他页面的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- 引入head标签 -->
{% include head.html %}
</head>
<body>
<!-- 引入title闪动 -->
<script>
step=0
function flash_title()
{
step++
if (step==3) {step=1}
if (step==1) {document.title='{{ page.title }}'}
if (step==2) {document.title='Powerlean'}
setTimeout("flash_title()",1121);
}
flash_title()
</script>

<!-- 引入title闪动 -->
    <marquee onMouseOver="this.stop()" loop="1" bgcolor="#696969" onMouseOut="this.start()";>当前滚动页处于测试状态，仅展示预览，不用于主页。</marquee> 
    
<!-- 页面主体 -->
{{ content }}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 5,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>

</body>
</html>
