<!-- 首页及其他页面的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- 引入head标签 -->
    <div class="p-detail__table-scrollbar">
    <div style="width: 3300px;height: 10px;">
    </div>
</div>

<style>
.p-detail__table-scrollbar{
    overflow-x: scroll;
    overflow-y: hidden;
}
.p-detail__table-scrollbar::-webkit-scrollbar{
    width:1px;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
}
.p-detail__table-scrollbar::-webkit-scrollbar-track{
    border-radius: 5px;
}
.p-detail__table-scrollbar::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: #333;
}
</style>
{% include head.html %}
</head>
<body>
<!-- 引入title闪动 -->
<script>
step=0
function flash_title()
{
step++
if (step==3) {step=1}
if (step==1) {document.title='{{ page.title }}'}
if (step==2) {document.title='Powerlean'}
setTimeout("flash_title()",1121);
}
flash_title()
</script>

<!-- 引入title闪动 -->
    <!-- <float><marquee onMouseOver="this.stop()" loop="1" onMouseOut="this.start()";>当前滚动页处于测试状态，仅展示预览，不用于主页。</marquee></float> -->
    
<!-- 页面主体 -->
{{ content }}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 5,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>

</body>
    <script type="text/javascript">
        (function() {var coreSocialistValues = ["老二次元", "死肥宅", "呐呐呐"], index = Math.floor(Math.random() * coreSocialistValues.length);document.body.addEventListener('click', function(e) {if (e.target.tagName == 'A') {return;}var x = e.pageX, y = e.pageY, span = document.createElement('span');span.textContent = coreSocialistValues[index];index = (index + 1) % coreSocialistValues.length;span.style.cssText = ['z-index: 9999999; position: absolute; font-weight: bold; color: #ff6651; top: ', y - 20, 'px; left: ', x, 'px;'].join('');document.body.appendChild(span);animate(span);});function animate(el) {var i = 0, top = parseInt(el.style.top), id = setInterval(frame, 16.7);function frame() {if (i > 180) {clearInterval(id);el.parentNode.removeChild(el);} else {i+=2;el.style.top = top - i + 'px';el.style.opacity = (180 - i) / 180;}}}}());
    </script>
</html>
