<!-- 首页及其他页面的布局-Layout -->
<!DOCTYPE html>
<html>
<head>
<!-- 引入head标签 -->
{% include head.html %}
</head>
<body bgcolor="#ffffff" onload="newtext()">
<script>
var text=document.title
var timerId
function newtext() {
    clearTimeout(timerId)                  
    document.title=text.substring(1,text.length)+text.substring(0,1)
    text=document.title.substring(0,text.length)
    timerId = setTimeout("newtext()", 500)
}
newtext();
</script>
<!-- 页面主体 -->
{{ content }}

<!-- 引用wow.js的动画效果 -->
<script src="/assets/js/wow.js"></script>
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        // offset: 5,
        mobile: true,
        live: true
    });
    wow.init();
</script>
<!-- 页面刷新回到顶部 -->
<script>
    window.onbeforeunload = function(){
        //刷新后页面自动回到顶部
        document.documentElement.scrollTop = 0;  //ie下
        document.body.scrollTop = 0;  //非ie
    }
</script>

</body>
</html>
